html,
body {
  height: 100%;
  margin: 0;
  background-image: url("https://img.freepik.com/free-photo/photorealistic-style-clouds_23-2151058968.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  background-color: #e7eaea;
  padding: 5px;
  border-radius: 8px;
}
.title {
  flex-grow: 1;
  text-align: end;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* hidden content */

/* hidden content */
a {
  margin-left: 16px;
  display: flex;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: rgb(226, 226, 226);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.a {
  padding: 2px;
  transition: 1s;
  border-radius: 4px;
  color: white;
  background-color: royalblue;
}
.a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.numberOfCities {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.deleteBtn {
  border-radius: 10px;
  background-color: rgb(136, 136, 136);
  cursor: pointer;
  border: none;
  background-color: rgb(49, 43, 43);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 1s;
}

.deleteBtn:hover {
  background-color: rgb(255, 27, 27);
}
main {
  flex-grow: 1;
  padding: 15px;
}
#weatherResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather_card {
  width: 50%;
  margin: 0, auto;
  border: 1px solid #ccc;
  background-color: rgba(230, 230, 230, 0.574);
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
div > p {
  display: flex;
  background-color: #e6e6e6;
  padding: 5px;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border-radius: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
