html,
body {
  height: 100%;
  margin: 0;
  background-image: url("https://img.freepik.com/free-photo/photorealistic-style-clouds_23-2151058968.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  background-color: #e7eaea;
  padding: 5px;
  border-radius: 8px;
}
.title {
  flex-grow: 1;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.citation {
  text-align: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  display: flex;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: rgb(226, 226, 226);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.a {
  transition: 1s;
  border-radius: 4px;
}
.a:hover {
  background-color: rgb(59, 113, 222);
}
/* Hiding display element and making them visbie if condition is true*/

h3 {
  display: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#loading {
  display: none;
}

#favCity {
  display: none;
  font-weight: 800;
  text-align: center;
  color: #0cac2a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#saveFavBtn {
  display: none;
}
#errorMessage {
  display: none;
  color: rgb(186, 26, 26);
}
/*End of Hide */

main {
  flex-grow: 1;
  padding: 15px;
}

#weatherForm {
  display: flex;
  justify-content: center;
  padding: 5px;
}
input {
  width: 25%;
  height: 28px;
  border: solid, rgb(96, 164, 224);
  border-radius: 5px;
  font-size: large;
  transition: border-color 1s ease-in-out;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:focus {
  border-color: rgb(129, 94, 218);
}
button {
  height: 34px;
  margin-left: 2px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 1s;
}

button:hover {
  background-color: #0056b3; /* Darker background on hover */
}

/* weather Information */
#weatherResult {
  width: 60%;
  background-color: rgba(230, 230, 230, 0.574);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#weatherResult p {
  margin: 10px 0;
}

#weatherResult img {
  max-width: 80px;
  display: block;
  margin: auto;
}

#cityName,
#region,
#country,
#temp_c,
#condition,
#localtime {
  display: flex;
  background-color: rgb(230, 230, 230);
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
/* End of weather Information */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border-radius: 6px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 640px) {
  input {
    width: 50%;
  }
  #weatherResult {
    width: 90%;
  }
}
